<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062661092135-pce03lgrj3sgkogieftiidk3v9n32pn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062661092135-pce03lgrj3sgkogieftiidk3v9n32pn9</string>
	<key>API_KEY</key>
	<string>AIzaSyCBDpExzQ1mnjKy6Tx4TJ2lg_4R6xiPcdA</string>
	<key>GCM_SENDER_ID</key>
	<string>1062661092135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mix174.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>firstdatabase-ee77d</string>
	<key>STORAGE_BUCKET</key>
	<string>firstdatabase-ee77d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062661092135:ios:acde3b4b495995f1c4ef02</string>
</dict>
</plist>